/* PHASE 12: Modal */
.modal {
  display: none;
}

.is-open {
  display: block;
}

.modal-screen {
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  z-index: 2;
  background: rgba(0, 0, 0, 0.8);
}
.modal-form {
  position: absolute;
  left: 50%;
  top: 150px;
  margin-left: -175px;
  width: 350px;
  border: 1px solid black;
  background-color: white;
  z-index: 3;
  padding: 20px;
  border-radius: 5px;
}
.modal-form h1 {
  font-size: 30px;
  font-weight: 200;
}

.modal-form p {
  font-size: 14px;
  margin-bottom: 20px;
}

.close-button{
  position: relative;
  top: 0;
  right: 0;
}